# Dataset (demasiado grande para GitHub — descargar desde Kaggle)
data/creditcard.csv
data/*.csv

# Modelos grandes
models/*.pth
models/*.pkl

# Python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Entornos virtuales
venv/
.env

# OS
.DS_Store
